.nav-link, .navbar-brand{
    color: white;
}

.navbar{
    background: #0e3d75;
}

.content{
    display: flex;
    align-items: start;
    justify-content: center;
}

.img:hover{
    transform: scale(2);
    transition: transform 0.5s ease-in;
    transform-origin: 50% 50%;
    cursor: pointer;
}